.main {
  width: 100%;
  min-height: 100vh;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 3.125rem 1.25rem;
}

.modal-show-button {
  margin: 0.5rem;
  width: 150px;
  height: 50px;
  border-radius: 0.4375rem;
  background-color: #1851e0;
  font-size: 18px;
  color: #ffffff;
}

h2 {
  margin-bottom: 30px;
  font-size: 30px;
  text-align: center;
}

p {
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 1.3;
}
