.header {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 20px;
  height: 50px;
  background-color: #1851e0;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.header-logo {
  font-size: 20px;
  line-height: 1;
  font-weight: 700px;
  color: #ffffff;
}
